@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

body {
  text-align: center;
  background-color: #dedede;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin: 10px;
}

h4 {
	font-size: 24px;
  color: #2B3A67;
  margin: 5px;
}

h5 {
  color: #32533d;
  text-align: center;
}

p {
  font-size: 16px;
}

.home {
  display: grid;
  justify-items: center;
  background-color: white;
  max-width: 80%;
  border-radius: 25px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero-body {
  width: 70%;
}

.skills-columns {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.logo {
  display: inline-block;
  margin-top: 25px;
  margin-left: -225px;
}

a {
  text-decoration: none;
}

.ex1-link, .ex2-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.ex1-link:hover, .ex2-link:hover {
  color: #A799B7;
}

.socials {
  width: 35px;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav {
  background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: flex;
	width: 100%;
  padding: 5px;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 5px #A799B7;
  }

.nav-logo {
  color:#2B3A67;
  font-size: 20px;
  margin: 3px;
  font-weight: 900;
}

.nav-links {
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  color: #2B3A67;
  min-width: fit-content;
}


a:hover {
  color: #32533d;
}

.footer-nav-links {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  min-width: fit-content;
  margin: 5px;
}

.footer-header {
  padding: 10px;
}

.socials-wrap {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.footer-contacts {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 10px;
}

.footer-socials {
  color:#2B3A67;
}

.footer-socials:hover {
  color:#32533d;
}

.skills {
  background-color: #2B3A67;
  display: block;
  padding: 20px;
  max-width: 100vw;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  background-color: white;
  padding: 20px;
  max-width: 80%;
  border-radius: 25px;
}

.footer-nav-links {
  color:#2B3A67;
}

.footer-nav-links:hover {
  color:#32533d;
}

.footer-nav-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.certs {
  background-color: white;
  max-width: 100vw;
  padding: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  column-gap: 20px;
  justify-items: center;
  align-items: center;
}

.cert-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.my-work {
  background-color: #2B3A67;
  width: 100vw;
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px) {

  .cert-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
  }

  .examples {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
  }

  h1 {
    font-size: 10vw;
  }
  
  h3 {
    font-size: 7vw;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    margin: 10px;
  }
  
  h4 {
    font-size: 6vw;
  }
  p {
    font-size: 4vw;
  }

  .nav-logo {
    font-size: 4.5vw;
  }
  
  .nav-links {
    font-size: 4.5vw;
  }

  .skills-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
  }
}