@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

body {
	margin: auto;
	text-align: center;
}

div {
	margin: 25px;
}

h1 {
    font-size: 3.5em;
    color: #2e1c2b;
}

h2 {
	font-size: 3em;
}

h3 {
    font-size: 2em;
	color:#b59da4;
	font-family: "DM Sans", sans-serif;
	text-align: center;
}

p {
    font-size: 18px;
	color: white;
}

.home {
	background-color: white;
	max-width: 80%;
	border-radius: 25px;
    padding: 15px;
}

.navigation {
	display: flex;
	align-items: center;
	margin: 25px;
	justify-content: space-around;
    flex-wrap: flex;
}

body {
	background-color: #dedede;
	font-family: "DM Sans", sans-serif;
    max-width: 100%;
}


h4{
	color: #2e1c2b;
}

ul, li {
	text-align: left;
}

h4 {
	font-family: "DM Sans", sans-serif;
}

h5 {
	color: #32533d;
	font-family: "DM Sans", sans-serif;
	text-align: center;
}

.logo {
	display: inline-block;
	margin-top: 25px;
	margin-left: -225px;
}

a {
	text-decoration: none;
	color: #2e1c2b;
	font-size: 20px;
}

a:hover {
	color: #32533d;
}

.ex1 {
    color: #32533d;
}

.socials {
	width: 35px;
	display: inline-block;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.nav-links {
	font-size: 20px;
	display: inline-block;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
    color: #2e1c2b;
    min-width: fit-content;
}

.links1 {
	font-size: 1em;
	display: inline-block;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
    color: #b59da4;
}

.links1:hover {
	font-size: 1em;
	display: inline-block;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
    color: white;
}

.socials-wrap {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.social-element:hover {
    color: #32533d;
}

.socials-wrap-footer {
    color: #b59da4;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.social-element-nav:hover {
    color: #b59da4;
}

.skills {
	background-color: #2e1c2b;
	display: block;
	padding: 15px;
  	max-width: 80%;
  	border-radius: 25px;
	color: white;
}

.about-me {
  display: block;
  background-color: #2e1c2b;
  color: #dedede;
  padding: 15px;
  max-width: 80%;
  border-radius: 25px;
}

.main-footer {
  background-color: #2e1c2b;
  width: 80%;
  border-radius: 25px;
  padding: 15px;
}

.about-me1 {
width: 80%;
}

.purple {
	color: #2e1c2b;
}

.pink {
  color: #b59da4;
}

figure {
  display: inline-block;
}

figcaption {
  color: #b59da4;
}

.green {
  color: #32533d;
}

.black {
	color: black;
}

.certs {
    background-color: white;
    max-width: 80%;
    border-radius: 25px;
    padding: 15px;
}

.edu-certs {
	background-color: white;
    max-width: 80%;
    border-radius: 25px;
    padding: 15px;
}

.my-work {
	background-color: white;
	height: 90vh;
	overflow-y: auto;
    overflow-x: hidden;
	max-width: 80%;
    border-radius: 25px;
    padding: 15px;
}

.social-element-footer {
    color: #b59da4;
}

@media all and (max-width: 500px) {
    h1 {
	font-size: 10vw;
}
    
    h2 {
	font-size: 9vw;
}

h3 {
    font-size: 8vw;
}

}